.homepagebox {
  .main {
    padding-bottom: 20px;
    .adsbox {
      height: max-content;
        margin: 20px;
        padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
      background-image: url("https://img.freepik.com/premium-photo/shopping-basket-full-food-groceries-table-supermarket_8087-1865.jpg?w=2000");
      background-position: center;
      .ads {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.522);
        width: 100%;
        min-width: 250px;
        color: rgb(219, 219, 219);
        padding: 20px 0px;
        text-align: center;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          color: rgb(126, 223, 0);
        }
        h1 {
          color: beige;
        }
        h2 {
          color: rgb(255, 217, 0);
        }
        h3 {
          color: rgb(251, 0, 29);
          background: rgb(227, 227, 227);
          width: max-content;
          padding: 5px 18px;
        }
        a {
          background: rgb(255, 205, 68);
          padding: 10px;
          border-radius: 6px;
          text-decoration: none;
          color: rgb(75, 75, 75);
          font-weight: 600;
          font-size: 18px;
        }
      }
    }
    .productbox {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      .card {
        
       max-width: 39vmin;
       width: 100%;

        border: 1px solid rgb(208, 230, 245);
        border-radius: 5px;
        margin: 20px;
        padding: 12px;
        box-shadow: 3px 3px 6px rgb(145, 145, 145),
          -4px -4px 8px rgb(255, 255, 255);
        .card1 {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          text-align: center;
          border-radius: 5px;
          padding: 10px;
          box-shadow: inset 2px 2px 6px rgb(112, 112, 112),
            inset -3px -3px 8px rgb(255, 255, 255);
          .image {
            background: #000;
            width: 100%;
         aspect-ratio: 1/1;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
          }
          .price {
          }
          .name {
          }
          .atc {
            width: 100%;
            height: 30px;
            border: none;
            background: rgba(0, 0, 0, 0);
            box-shadow: 2px 2px 4px rgb(174, 174, 174),
            -2px -2px 4px rgb(255, 255, 255);
            margin: 3px 0px;
          }
        }
      }
    }
  }
}
