.categorybox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .pn{
        color: rgb(125, 125, 125);
        border: 1px solid rgb(216, 220, 236);
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 5px 10px;
        margin: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgb(151, 151, 151), -3px -3px 6px rgb(255, 255, 255);
        &:hover{
            box-shadow:inset 2px 2px 6px rgb(151, 151, 151),inset -3px -3px 6px rgb(255, 255, 255);
        }

    }
}