@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(227, 230, 245);
}

.container {
  overflow: hidden;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.header {
  background: rgb(226, 232, 243);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.header .toggle {
  display: none;
}
.header .toggle .show,
.header .toggle .hide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .toggle .show ion-icon,
.header .toggle .hide ion-icon {
  font-size: 30px;
  cursor: pointer;
}
.header .logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header .logo img {
  border: 1px solid rgb(212, 219, 236);
  padding: 5px;
  box-shadow: 2px 2px 6px rgb(85, 85, 85), -2px -2px 6px rgb(255, 255, 255);
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
}
.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul a {
  text-decoration: none;
  color: rgb(56, 56, 56);
  margin: 0px 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.header .extralink {
  color: black;
  display: flex;
}
.header .extralink .user {
  margin: 0px 10px;
}
.header .extralink .user a ion-icon {
  color: rgb(0, 0, 0);
  font-size: 25px;
}
.header .extralink .addcart {
  position: relative;
}
.header .extralink .addcart span {
  position: absolute;
  top: -5px;
  left: -3px;
  padding: 1px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgb(25, 25, 25);
  color: rgb(235, 235, 235);
  z-index: 1;
  font-size: 13px;
}
.header .extralink .addcart ion-icon {
  font-size: 25px;
  color: black;
}
.header .cartbox {
  transition: 1s;
  position: absolute;
  top: 100%;
  right: -400%;
  background: rgb(224, 224, 224);
  color: aliceblue;
  padding: 10px;
}
.header .cartbox .head {
  border-bottom: 1px solid rgb(128, 128, 128);
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #000;
}
.header .cartbox .head .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.header .cartbox .head .item ion-icon {
  margin: 0px 10px;
}
.header .cartbox .head .closecart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: aqua;
  background: rgb(39, 39, 39);
}
.header .cartbox .head .closecart ion-icon {
  font-size: 24px;
}
.header .cartbox .cartlist {
  width: 300px;
  padding: 10px;
}
.header .cartbox .cartlist .cartcard {
  margin: 10px 0px;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(168, 168, 168), -3px -3px 6px white;
  padding: 0px 13px;
}
.header .cartbox .cartlist .cartcard .image {
  width: 33%;
  padding: 5px;
}
.header .cartbox .cartlist .cartcard .image img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.header .cartbox .cartlist .cartcard .image .quantity {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 6px rgb(143, 143, 143), -3px -3px 4px white;
  padding: 2px;
  border-radius: 5px;
  flex-direction: row-reverse;
  color: black;
}
.header .cartbox .cartlist .cartcard .image .quantity .add {
  cursor: pointer;
  display: flex;
}
.header .cartbox .cartlist .cartcard .image .quantity .remove {
  cursor: pointer;
  display: flex;
}
.header .cartbox .cartlist .cartcard .info {
  width: 60%;
  padding: 5px;
  color: rgb(85, 85, 85);
  font-weight: 600;
}
.header .cartbox .cartlist .cartcard .info .price .each {
  letter-spacing: 1px;
  color: rgb(164, 109, 0);
}
.header .cartbox .cartlist .cartcard .info .price .total {
  color: rgb(0, 121, 45);
  letter-spacing: 1px;
}
.header .cartbox .cartlist .cartcard .deletecart {
  display: flex;
  align-items: center;
}
.header .cartbox .cartlist .cartcard .deletecart ion-icon {
  box-shadow: 2px 2px 6px rgb(106, 106, 106), -2px -2px 6px white;
  font-size: 30px;
  border-radius: 50%;
  padding: 3px;
  color: rgb(114, 114, 114);
}
.header .cartbox .cartfooter {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: rgb(155, 155, 155);
  font-weight: 600;
}
.header .cartbox .cartfooter .subtotal {
  color: rgb(18, 128, 158);
}
.header .cartbox .cartfooter .order a {
  border-radius: 5px;
  padding: 3px 15px;
  box-shadow: 2px 2px 6px rgb(144, 144, 144), -3px -3px 6px white;
  font-weight: 600;
  color: rgb(109, 109, 109);
  letter-spacing: 1.5px;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .header .toggle {
    display: block;
  }
  .header .toggle .hide {
    display: none;
  }
  .header nav {
    display: none;
  }
}
.loginbox,
.registerbox {
  height: 100%;
  justify-content: center;
  display: flex;
  padding-bottom: 50px;
}
.loginbox form,
.registerbox form {
  margin: 50px 0px;
  border: 1px solid rgb(217, 216, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 6px -1px rgb(156, 156, 156), -3px -4px 8px 0px rgb(255, 255, 255);
}
.loginbox form .logo,
.registerbox form .logo {
  padding: 3px;
  box-shadow: 3px 3px 6px -1px rgb(156, 156, 156), -3px -4px 8px 0px rgb(255, 255, 255);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.loginbox form .logo img,
.registerbox form .logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loginbox form select, .loginbox form input,
.registerbox form select,
.registerbox form input {
  background: rgba(0, 0, 0, 0);
  outline: none;
  width: 100%;
  border: none;
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  box-shadow: inset 3px 3px 6px -1px rgb(156, 156, 156), inset -3px -4px 8px 0px rgb(255, 255, 255);
}
.loginbox form a,
.registerbox form a {
  margin: 20px 0px;
  color: rgb(41, 41, 41);
  text-decoration: none;
}
.loginbox form .submit,
.registerbox form .submit {
  border: 1px solid rgb(224, 224, 224);
  box-shadow: 3px 3px 6px -1px rgb(156, 156, 156), -3px -4px 8px 0px rgb(255, 255, 255);
}
.loginbox form .submit:hover,
.registerbox form .submit:hover {
  box-shadow: inset 3px 3px 6px -1px rgb(156, 156, 156), inset -3px -4px 8px 0px rgb(255, 255, 255);
}

@media only screen and (max-width: 500px) {
  .loginbox,
.registerbox {
    align-items: center;
    height: 100%;
  }
  .loginbox form,
.registerbox form {
    box-shadow: none;
    width: 100%;
    border: none;
    height: 100%;
  }
}
.homepagebox .main {
  padding-bottom: 20px;
}
.homepagebox .main .adsbox {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 5px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-image: url("https://img.freepik.com/premium-photo/shopping-basket-full-food-groceries-table-supermarket_8087-1865.jpg?w=2000");
  background-position: center;
}
.homepagebox .main .adsbox .ads {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.522);
  width: 100%;
  min-width: 250px;
  color: rgb(219, 219, 219);
  padding: 20px 0px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepagebox .main .adsbox .ads h4 {
  color: rgb(126, 223, 0);
}
.homepagebox .main .adsbox .ads h1 {
  color: beige;
}
.homepagebox .main .adsbox .ads h2 {
  color: rgb(255, 217, 0);
}
.homepagebox .main .adsbox .ads h3 {
  color: rgb(251, 0, 29);
  background: rgb(227, 227, 227);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 18px;
}
.homepagebox .main .adsbox .ads a {
  background: rgb(255, 205, 68);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
  color: rgb(75, 75, 75);
  font-weight: 600;
  font-size: 18px;
}
.homepagebox .main .productbox {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-column-gap: 20px;
  justify-content: center;
  transition: 1s;
}
.homepagebox .main .productbox .card {
  margin: 10px 0px;
  border: 1px solid rgb(208, 230, 245);
  border-radius: 5px;
  padding: 3px;
  box-shadow: 3px 3px 6px rgb(145, 145, 145), -4px -4px 8px rgb(255, 255, 255);
}
.homepagebox .main .productbox .card .card1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}
.homepagebox .main .productbox .card .card1 .image {
  background: #000;
  width: 100%;
  aspect-ratio: 1/1;
}
.homepagebox .main .productbox .card .card1 .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.homepagebox .main .productbox .card .card1 .price {
  color: rgb(0, 122, 10);
  font-weight: 600;
}
.homepagebox .main .productbox .card .card1 .name {
  font-size: 14px;
  color: rgb(58, 58, 58);
}
.homepagebox .main .productbox .card .card1 .atc {
  width: 100%;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  height: 30px;
  color: rgb(59, 59, 59);
  border: none;
  background: rgba(0, 0, 0, 0);
  box-shadow: 2px 2px 4px rgb(174, 174, 174), -2px -2px 4px rgb(255, 255, 255);
  margin: 3px 0px;
}
.homepagebox .main .productbox .card .card1 .atc:active {
  box-shadow: inset 2px 2px 6px rgb(112, 112, 112), inset -3px -3px 8px rgb(255, 255, 255);
}

.categorybox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.categorybox .pn {
  color: rgb(125, 125, 125);
  border: 1px solid rgb(216, 220, 236);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgb(151, 151, 151), -3px -3px 6px rgb(255, 255, 255);
}
.categorybox .pn:hover {
  box-shadow: inset 2px 2px 6px rgb(151, 151, 151), inset -3px -3px 6px rgb(255, 255, 255);
}

.userbox {
  border: 1px solid black;
}/*# sourceMappingURL=style.css.map */