@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(227, 230, 245);
}
.container {
overflow: hidden;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}
.header {
  position: relative;
  border-bottom: 1px solid rgb(169, 169, 169);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  .toggle {
    display: none;
    .show,
    .hide {
      display: flex;
      justify-content: center;
      align-items: center;
      ion-icon {
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    img {
      border: 1px solid rgb(212, 219, 236);
      padding: 5px;
      box-shadow: 2px 2px 6px rgb(85, 85, 85), -2px -2px 6px rgb(255, 255, 255);
      border-radius: 50%;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  nav {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: rgb(56, 56, 56);
        margin: 0px 10px;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
  .extralink {
    color: black;

    display: flex;
    .user {
      margin: 0px 10px;
      a {
        ion-icon {
          color: rgb(0, 0, 0);

          font-size: 25px;
        }
      }
    }
    .addcart {
      position: relative;
      span {
        position: absolute;
        top: -5px;
        left: -3px;
        padding: 1px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: rgb(25, 25, 25);
        color: rgb(235, 235, 235);
        z-index: 1;
        font-size: 13px;
      }
      ion-icon {
        font-size: 25px;
        color: black;
      }
    }
  }
  // ---------
  .cartbox {
    transition: 1s;
    position: absolute;
    top: 100%;
    right:-50%;
    background: rgb(224, 224, 224);
    color: aliceblue;
    padding: 10px;
    .head {
      border-bottom: 1px solid rgb(128, 128, 128);
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      color: #000;
      .item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 5px;
        ion-icon {
       margin: 0px 10px;
        }
      }
      .closecart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
       color: aqua;
        background: rgb(39, 39, 39);
        ion-icon {
          font-size: 24px;
        
        }
      }
    }
    .cartlist {
      width: 300px;
      padding: 10px;
      .cartcard {
        margin: 10px 0px;
        display: flex;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgb(168, 168, 168), -3px -3px 6px white;
        padding: 0px 13px;
        .image {
          width: 33%;
          padding: 5px;
          img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 5px;
          }
          .quantity {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            box-shadow: 2px 2px 6px rgb(143, 143, 143), -3px -3px 4px white;
            padding: 2px;
            border-radius: 5px;
            flex-direction: row-reverse;
            color: black;
            .add {
              cursor: pointer;
              display: flex;
              ion-icon {
              }
            }
            .count {
            }
            .remove {
              cursor: pointer;
              display: flex;

              ion-icon {
              }
            }
          }
        }
        .info {
          width: 60%;
          padding: 5px;
          color: rgb(85, 85, 85);
          font-weight: 600;
          .name {
          }
          .price {
            .each {
              letter-spacing: 1px;
              color: rgb(164, 109, 0);
            }
            .total {
              color: rgb(0, 121, 45);
              letter-spacing: 1px;
            }
          }
        }
        .deletecart {
          display: flex;
          align-items: center;
          ion-icon {
        box-shadow: 2px 2px 6px rgb(106, 106, 106), -2px -2px 6px white;
            font-size: 30px;
            border-radius: 50%;
            padding: 3px;
            color: rgb(114, 114, 114);
          }
        }
      }
    }
    .cartfooter {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      color: rgb(155, 155, 155);
      font-weight: 600;
      .subtotal {
color: rgb(18, 128, 158);
      }
      .order {
   
        a{
          border-radius: 5px;
          padding: 3px 15px;
        box-shadow: 2px 2px 6px rgb(144, 144, 144), -3px -3px 6px white;

      font-weight: 600;
          color: rgb(109, 109, 109);
          letter-spacing: 1.5px;
          text-decoration: none;
        }
      }
    }
  }
}

// --------------------
@media only screen and (max-width: 500px) {
  .header {
    .toggle {
      display: block;
      .show {
      }
      .hide {
        display: none;
        ion-icon {
        }
      }
    }
    .logo {
      img {
      }
    }
    nav {
      display: none;
      ul {
        a {
        }
      }
    }
    .extralink {
      .user {
        a {
          ion-icon {
          }
        }
      }
      .addcart {
        span {
        }
        ion-icon {
        }
      }
    }
  }
}

@import "form";
@import "home";
@import "shop";
